# All examples display the default values set by the backend & compose.
# Don't include any variables in .env unless you wish to override the defaults.

# Sets backend to debug mode for testing purposes,
# this also don't require ALLOWED_HOSTS variable to be set.
DEBUG=True

# If DEBUG is false, this field is mandatory. This should be set to any domains that have access to Django
# Example: ALLOWED_HOSTS=127.0.0.1,example.com,new.example.com
ALLOWED_HOSTS=

# Necessary database credentials.
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=  # Only add this if postgres is hosted externally
DB_PORT=5432
