name: dockerpostgis

services:
  db:
    image: postgis/postgis
    restart: always
    env_file:
      - .env
    ports:
      - ${DB_PORT:-5432}:5432
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_NAME:-postgres}
    volumes:
      - .pg_data:/var/lib/postgresql/data